

<div>

	Group by:
	<select ng-model="groupby">
		<option value="homeTeam">Home Team</option>
		<option value="awayTeam">Away Team</option>
		<option value="date">Date</option>
		<option value="gameType">Game Type</option>
	</select>
	<br>

	<button ng-click="reloadTable()" class="btn btn-default">Reload</button>
	<div class="clearfix"></div>
	<div loading-container="tableParams.settings().$loading">
		<table ng-table="tableParams" show-filter="true" class="table table-striped">
			<tbody ng-repeat="group in $groups">
				<tr class="ng-table-group">
					<td colspan="{{$columns.length}}">
						<a href="" ng-click="group.$hideRows = !group.$hideRows">
							<span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
							<strong>{{ group.value | date: 'EEE, MMM d, yyyy'}}</strong>
						</a>
					</td>
				</tr>
				<tr ng-hide="group.$hideRows" ng-repeat="game in group.data">
					<td sortable="'homeTeam'" data-title="'Home Team'">
						{{game.homeTeam}}
					</td>
					<td sortable="'awayTeam'" data-title="'Away Team'">
						{{game.awayTeam}}
					</td>
					<td sortable="'date'" data-title="'Date'">
						{{game.date | date: 'EEE, MMM d, yyyy'}}
					</td>
					<td sortable="'gameType'" data-title="'Game Type'">
						{{game.gameType}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>