

<div>

<!-- 	<input type="radio" ng-model="group" value="name">Name<br/>
	<input type="radio" ng-model="group" value="age">Age<br/>
	<input type="radio" ng-model="group" value="gender">Gender<br/>
	<input type="radio" ng-model="group" value="job">Job<br/>
 -->

	Group by:
	<select ng-model="groupby">
		<option value="name">Name</option>
		<option value="age">Age</option>
		<option value="gender">Gender</option>
		<option value="job">Job</option>
	</select>
	<br>

	Grouped by: <b>{{groupby}}</b>

	<table ng-table="tableParams" class="table">
		<tbody ng-repeat="group in $groups">
			<tr class="ng-table-group">
				<td colspan="{{$columns.length}}">
					<a href="" ng-click="group.$hideRows = !group.$hideRows">
						<span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
						<strong>{{ group.value }}</strong>
					</a>
				</td>
			</tr>
			<tr ng-hide="group.$hideRows" ng-repeat="user in group.data">
				<td sortable="name" data-title="'Name'">
					{{user.name}}
				</td>
				<td sortable="age" data-title="'Age'">
					{{user.age}}
				</td>
				<td sortable="name" data-title="'Gender'">
					{{user.gender}}
				</td>
				<td sortable="name" data-title="'Job'">
					{{user.job}}
				</td>
			</tr>
		</tbody>
	</table>

<!-- 		<thead>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Job</th>
		</thead>
		<tbody ng-repeat="datum in data | orderBy:group">

			<tr>
				<td>{{datum.name}}</td>
				<td>{{datum.age}}</td>
				<td>{{datum.gender}}</td>
				<td>{{datum.job}}</td>
			</tr>
		</tbody> -->
	</table>

</div>